/* src/components/ChatBubble.css */

.chat-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 10px;
  color: white;
  transition: all 0.3s ease;
}

.chat-container.expanded {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-messages {
  max-height: 100%;
  overflow-y: auto;
}

.listening-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #39ff14;
  border-radius: 50%;
  margin: 0 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.prompt-text {
  color: rgba(219, 168, 66, 1);
}

.user-text {
  color: #ffffff;
}

.npc-text {
  color: #39ff14;
}
