/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Popup Content */
  .popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: left;
  }
  
  .popup-content h3 {
    color: #003366;
    margin-bottom: 20px;
  }
  
  .close-button, .reset-button {
    background-color: #0056a6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .close-button:hover, .reset-button:hover {
    background-color: #003366;
  }
  
  /* Grid for widgets */
  .grid-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    transition: all 0.3s ease; /* Smooth transition for layout changes */
  }
  
  /* Widget Item */
  .widget-item {
    width: 100%;
  }
  
  /* Edit button */
  .edit-button, .settings-button {
    padding: 10px 20px;
    background-color: #0056a6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .edit-button:hover, .settings-button:hover {
    background-color: #003366;
  }
  

 /* Swap Button Styling */
.swap-button {
  background-color: #0056a6;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
}

.swap-button:hover {
  background-color: #003366;
}

/* Align the exchange rates list to the left */
.favorite-exchange-rates {
  text-align: left;
  list-style-position: inside; /* Ensures the bullet points stay within the text */
}

.favorite-exchange-rates li {
  margin-bottom: 5px; /* Adds space between the items for better readability */
}
